@{
    ViewData["Title"] = "About";
}
<h1>Complex HTML Table</h1>
<table>
<table border=1>
 <tr>
     <td> </td>
     <th>Sunday</th>
   
     <th>Monday</th>
     <th>Tuesday</th>
     <th>Wednesday</th>
     <th>Thursday</th>
     <th>Friday</th>
     <th>Saturday</th>
 <tr>
<td><b>Morning </b></td>
  <td rowspan=3 align=center>Play</td>
  <td colspan=3 align=center>School</td>
  <td colspan=2 align=center>PE</td>
  <td>Homework</td>
</tr>
<tr>
    <td><b>Afternoon </b></td>
    <td colspan=2 rowspan=2 align=center>Art</td>
    <td colspan=3 align=center>Social</td>
    <td>Lunch</td>

</tr>
<tr>
    <td><b>Evening </b></td>
    <td colspan=3 align=center>Science</td>
    <td>Homework</td>
</tr>
<tr>
    <td><b>Night </b></td>
    <td colspan=7 align=center>Sleep</td>
</tr>

</table>
<p>Not so complex anymore!!!</p>
<p> Messi is the best!</p>

<a href=/Home/Contact>Contact</a>